%h1 Title: #{@blog.title}
%h2 Category: #{@blog.category_text}
= link_to 'Back', blogs_path
|
= link_to 'Edit', edit_blog_path(@blog)

<br />
<hr />

%h1 Listing entries
%div.notice= notice
%table
  %tr
    %th Title
    %th Body
    %th(colspan="3")
  - @entries.each do |entry|
    %tr
      %th= entry.title
      %th= entry.body
      %th= link_to 'Show', blog_entry_path(@blog, entry)
      %th= link_to 'Edit', edit_blog_entry_path(@blog, entry)
      %th= link_to 'Destroy', blog_entry_path(@blog, entry), method: :delete, data: { confirm: "エントリー「#{entry.title}」を削除します。よろしいですか？" }
      
= link_to 'New Entry', new_blog_entry_path(@blog.id)
